<!DOCTYPE html>
<html >
    <head>
        <meta charset="utf-8">
        <title>Mako's Store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.min.css">
        
        <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/font-awesome.min.css" >
        <link rel="stylesheet" href="css/qunit.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    </head>
    <body ng-app="store">
        <header class="sectionHeader">
            <section class="logoleft">
                <figure class="logo"><img src="img/mkr7-logoblack.jpg" width="80px" ></figure> <label class="vCenter">mako store's</label> 
            </section>
            <section class="headerMenu"> 
                <ul class="menuList" >
                    <li class="lineBlock">register</li>
                    <li class="lineBlock">login</li>
                    <li class="lineBlock">help</li>
                    <li class="lineBlock">contact</li>
                </ul>
                <section class="cart">
                  
                    
                </section>
            </section>
         
        </header>
        <nav>
        <div class="navbar navbar-inverse" style="position: static;">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                   <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle white" data-toggle="dropdown">Play Station <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Play Station 3</a></li>
                          <li><a href="#">Play Station 4</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Portable</li>
                          <li><a href="#">PSP</a></li>
                          <li><a href="#">PSP Vita</a></li>
                        </ul>
                      </li>

                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle white" data-toggle="dropdown">Microsoft <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Xbox 360</a></li>
                          <li><a href="#">Xbox One</a></li>
                        </ul>
                      </li>

                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle white" data-toggle="dropdown">Nintendo <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Nintendo Wii </a></li>
                          <li><a href="#">Nintendo WiiU </a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Portable</li>
                          <li><a href="#">Nintendo DS</a></li>
                          <li><a href="#">Nintendo 3DS</a></li>
                        </ul>
                      </li>

                    </ul>
                    <ul class="nav pull-right">
                        <form class="navbar-search pull-left" action="">
                            <input type="text" class="search-query span2" placeholder="Search">
                        </form>
                      <li class="divider-vertical"></li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>
</nav>
       

        <section id="content">
            <section class="leftColumn">
                <aside class="womenShoes">
                    <div class="headerMenuShoes">Menu</div>
                    <div class="arrow"><i class="fa fa-caret-down fa-2x"></i></div>
                    <ul class="menuGames">
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> PS3</li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> PS4</li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> Xbox 360</li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> Xbox One</li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> Nintendo Wii</li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> Nintendo Wii U</li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> PSP </li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> PSP Vita</li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> Nintendo DS</li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> Nintendo 3DS</li>
                    </ul>       
                </aside>

            <aside class="narrowList menuHeight"> 
                    <div class="headerMenuShoes ">Top Sellers</div>
                    <div class="arrow"><i class="fa fa-caret-down fa-2x"></i></div>
                    <ul class="menuGames top narrow">
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> Final Fantasy XIV</li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> Diablo III</li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> Resient Evil 6</li>
                        <li class="sideMenu"><i class="black fa fa-angle-right fa-lg"></i> FIFA 2014</li>
                        <li class="sideMenu black moreButton"><i class="black fa fa-angle-right fa-lg"></i> more...</li>

                        <li class="sideMenu hide xlarge" ><i class="black fa fa-angle-right fa-lg hide"></i> NFL 2014</li>
                        <li class="sideMenu hide xxlarge"><i class="black fa fa-angle-right fa-lg hide"></i> Pokemon X / Y</li>
                        <li class="sideMenu hide xxlarge"><i class="black fa fa-angle-right fa-lg hide"></i> Persona Portable</li>
                      
                    </ul>       
               </aside>

            </section>   
             
             <section class="rightColumn">
                <section id="bannerContainer">
                <!-- Banner -->
                
                <!-- End Banner -->
                </section>

         
     
                <section class="menuTopGames"> 
                <div id="menuImages">
                    <div class="imagen" id="1">
                        <h2> TOP SELLERS </h2>                     
                        <h2> PLAY STATION </h2>
                        <figure class="topFig"><img src="img/lastofus.jpg"></figure>
                        <div ng-controller="StoreController as store">
                            <ul class="list-group left">
                                <li class="list-group-item" ng-repeat="product in store.gamesps4">  
                                    <h4 class="fontSize">
                                        {{product.number}}.-<img ng-src="{{product.images[0].thumb}}" width="40px">
                                        {{product.name}}
                                        <em class="pull-center">{{product.price | currency }}</em>                                       
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="imagen" id="2">
                        <h2> TOP SELLERS </h2>        
                        <h2> XBOX </h2>
                        <figure class="topFig"><img src="img/titanfall.jpg"></figure>
                        <div ng-controller="StoreController as store">
                            <ul class="list-group left">
                                <li class="list-group-item" ng-repeat="product in store.gamesxbox">  
                                    <h4 class="fontSize">
                                        {{product.number}}.-<img ng-src="{{product.images[0].thumb}}" width="40px">
                                        {{product.name}}
                                            <em class="pull-center">{{product.price | currency }}</em>
                                        
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <!--label class="labelDescription"> Women's Trail <br/>Running Shoe <br/></label>
                        <label class="price">$109.99</label> <br/>
                        <label class="listPrice">List Price: $130.99</label>
                        <figure class="buyNow" id="2"><img src="img/buy.png"></figure-->
                    </div>
                    <div class="imagen" id="3"> 
                        <h2> TOP SELLERS </h2>   
                        <h2> NINTENDO </h2>
                        <!--figure class="position"><img class="newItem" src="img/new.png"></figure-->
                        <figure class="topFig"><img src="img/zombieU.jpg"></figure>
                        <div ng-controller="StoreController as store">
                            <ul class="list-group left">
                                <li class="list-group-item" ng-repeat="product in store.gameswiiu">  
                                    <h4 class="fontSize">
                                        {{product.number}}.-<img ng-src="{{product.images[0].thumb}}" width="40px">
                                        {{product.name}}
                                        <em class="pull-center">{{product.price | currency }}</em>                                       
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <!--label class="labelDescription"> Women's Trail <br/>Running Shoe <br/></label>
                        <label class="price">$109.99</label> <br/>
                        <label class="listPrice">List Price: $130.99</label>
                        <figure class="buyNow" id="3"><img src="img/buy.png"></figure-->
                    </div>
                    
    
                </div>
            </section>
   
             </section>
            

        </section>
        <footer> 
            <section class="footFormat">
                <aside class="knowUS">
                    <div class="footerTitle"> Get to Know Us</div>
                    <ul class="footerMenu">
                        <li>lorem Ipsum Dolar</li> 
                        <li>lorem Ipsum Dolar</li>
                        <li>lorem Ipsum Dolar</li>
                        <li>lorem Ipsum Dolar</li>
                    </ul>
                </aside>
                <aside class="corporateInfo">
                    <div class="footerTitle">Corporate info </div>
                    <ul  class="footerMenu">
                        <li>lorem Ipsum Dolar</li> 
                        <li>lorem Ipsum Dolar</li>
                        <li>lorem Ipsum Dolar</li>
                        <li>lorem Ipsum Dolar</li>
                    </ul>
                    </aside>
                <aside class="workUs">
                    <div class="footerTitle">Work with Us</div>
                    <ul class="footerMenu">
                        <li>lorem Ipsum Dolar</li> 
                        <li>lorem Ipsum Dolar</li>
                        <li>lorem Ipsum Dolar</li>
                        <li>lorem Ipsum Dolar</li>
                    </ul>
                    </aside>
                <aside class="contactUS">
                    <div class="footerTitle">Contact Us</div>
                    <ul class="footerMenu">
                        <li>lorem Ipsum Dolar</li> 
                        <li>lorem Ipsum Dolar</li>
                        <li>lorem Ipsum Dolar</li>
                        <li>lorem Ipsum Dolar</li>
                    </ul>

                </aside>
            </section>
        </footer>    


        <script src="js/vendor/jquery-1.11.0.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/vendor/html5shiv-printshiv.js"></script>
        <script src="js/vendor/qunit.js"></script>
        <script src="js/vendor/bootstrap.js"></script>
        <script src="js/vendor/jssor.slider.min.js"></script>
        <script type="text/javascript" src="js/vendor/angular.min.js"></script>   
                <script type="text/javascript" src="js/vendor/app.js"></script>


    </body>
</html>
