@import "normalize.styl"
@import "../fonts/fonts.styl"

gris_oscuro = #333333
gris_claro = #818181
gris_claro2 = #F0F0F0

a 
	text-decoration none

body 
	font-family: 'Varela Round', 'sans-serif';
	font-size 16px

figure 
	margin 0
img
	vertical-align top
ul
	margin 0 
	padding 0 	
.action
	color white
	margin-right .5em
	font-size 1.2em
	&:last-child
		margin 0
	&.grey
		color gris_claro

.actions
	position absolute
	bottom 0
	left 0 
	right 0
	background rgba(0,0,0,.3)
.block
	display inline-block	

.button-menu
	position absolute
	top 50%
	margin-top -10px
	left .5em
.cursor
	cursor pointer
.relative
	position relative
.container
	font-size 0
	padding 1.4rem
   	text-align center
.border-bottom
	border-bottom 1px solid gris_claro   	
.name
	color gris_oscuro
.nameContainer
	color gris_oscuro
.menu 
	display none

.author
	color gris_claro
.authorContainer
	color gris_claro	
.center-block
	margin auto
.center-text	
	text-align center
.header
	height 3.5em
	.title
		font-size 1.1em
		text-align center
		margin 0
		line-height 3.5em
.left
	float left
.right			
	float right	
.right-text
	text-align right
.relative 
	position relative
.padding
	padding 1em
.song
	display inline-block
	font-size 1rem
	margin-right 1em
	margin-bottom 1em
	width 8.5rem
	text-align center
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0
.playing
	&.small	
		width 20em
		margin 0 auto
.wrap
	width 1000px	
.round
	border-radius 50%
	overflow hidden		
.input
	border 1px solid gris_claro
	height 2.5em 
	border-radius 5px
	padding 0 1em 0 2em	
.search-icon
	position absolute
	left .5em
	top .8em
	color gris_claro
.close-icon
	position absolute
	top .7em
	color gris_claro
	right .5em	
.isotipo 
	display none
.playlist
	display none
.logoText
	font-size 0em
	margin-left 1em
	padding 0
	overflow hidden	
	display none		
.hide
	display none
.right
	display none
.select{
	color black
}

.noSelect{
	color grey
}

@media screen and (min-width:480px)	
	.song
		&:nth-child(even)
			margin-right 1em
	.image 
		img 
			width 100%
			height auto	
	.playing
		&.medium
			width auto
	.logoText
		font-size 2.5em	
		display inline-block	

@media screen and (min-width:1000px)
	body
		background white
	.right
		display inline-block
	.button-menu
		display none
	.playing
		padding-top 2em
		&.large
			margin 0 auto
			width 62.5em
			overflow hidden
	.header
		height auto
		.title
			display none
	.isotipo
		display block
		width 60px	

	.logo
		padding 1.3em 0 
		overflow hidden
		display block
	.avatar
		width 38px
		height 38px	
	.container
		text-align center
	.username
		color gris_claro
		position relative
		top 9px
		margin-left .5em
		&:after
			content ""
			border-left 7px solid transparent
			border-right 7px solid transparent
			border-top 9px solid gris_claro
			display inline-block
			margin-left .3em
	.menu
		background gris_claro2
		display block
		overflow hidden
		.item
			float left
			list-style none
			padding 1em
			a
				color gris_oscuro
				text-transform uppercase
				cursor pointer
				padding 1em
				display block
				border-top 5px solid transparent
		.pointer
			border-bottom 5px solid transparent
		.pointer:hover 
			border-bottom 5px solid gris_claro
	.music
		width 32.5em
		float left
	.playlist
		display block
		width 22em
		padding 0 2em
		border-left 1px solid gris_claro
		.list
			background white
			list-style none
		.item
			padding 1em 0
		.action
			font-size 14px	
		
